.btn-shopee {
            padding: 10px;
            width: 350px;
            background-color: #F2D3C9;
            
        }

        .btn-tokopedia {
            padding: 10px;
            background-color: #D1EDD2;
            width: 350px;
        }

        .btn-bukalapak {
            padding: 10px;
            background-color: #EDBBC9;
            width: 350px;
        }

        .btn-instagram {
            padding: 10px;
            background-color: #D9D9D9;
            width: 350px;
        }
        .btn-whatsapp {
            padding: 10px;
            background-color: #A5FF99;
            width: 350px;
        }        
        .img-icon {
            width: 30px !important;
        }
        .single_add_to_cart_button {
            visibility: hidden;
        }
        .quantity {
            visibility: hidden;
        }